# Main database
DATABASE_URL=add_your_database_url

# Postgres credentials
POSTGRES_USER=add_your_user_name
POSTGRES_PASSWORD=add_your_password
POSTGRES_DB=add_your_database_name

# Test database 
TEST_DATABASE_URL=add_your_test_database_url